# See https://help.github.com/articles// for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# production
# /build

# misc
.DS_Store
.envnpm run start
.env.local
.env.development.local
.env.test.local
.env.production.local
.npm
.vscode
*.log
logs
npm-debug.log*

#prettier
.prettierrc

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode